nz-content {
  background: aliceblue;
  padding: 24px;
  min-height: 280px;
}

.app-root {
  min-height: 100vh;
  .app-nav-affix {
    height: 50px !important;
  }
}

.app-container {
  overflow: auto;
}
