:host ::ng-deep .ant-layout-sider {
  margin-top: 64px;
  position: fixed;
  height: 100%;
}

.layout-container{
  padding: 0px;
  min-height: calc(100vh - 64px);
  margin-top: 64px
}

.rotation {
  -webkit-transform: rotate(360deg);
  animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -webkit-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
}

@-webkit-keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
