<!--<div class="page-loading" *ngIf="isFetching"></div>-->
<nz-layout class="default-layout">
  <app-header (nzCollapsed)="launchSidebar()"></app-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <app-sider [isCollapsed]="isCollapsed"></app-sider>
    </nz-sider>
    <nz-layout [ngStyle]="{'margin-left':isCollapsed?'80px':'200px'}" class="layout-container">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
<nz-affix  style="position: absolute; top:20%; right:0px">
  <div style="background: #1976d2; padding: 5px;border-radius: 10px" (click)="open()">
    <img class="rotation img" src="../../../assets/images/setup.svg" alt="set">
  </div>
</nz-affix>
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Basic Setting"
  (nzOnClose)="close()"
>
  <p>布局设置</p>
  <p>主题设置</p>
  <p>其他设置</p>
</nz-drawer>
