<div class="login-page" [@loginsignal]="'go'">
  <div class="login-container" >
    <form nz-form [formGroup]="validateForm" nzLayout="Horizontal" (ngSubmit)="submitForm()" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your database!">
          <nz-input-group nzPrefixIcon="database">
            <input type="text" nz-input formControlName="db" placeholder="database" class="login-input" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="login" placeholder="email" class="login-input" />
          <!--  <nz-form-explain
              *ngIf="(validateForm.get('login')?.dirty && validateForm.get('login')?.errors)" class="login-validator">
              <ng-container *ngIf="validateForm.get('login')?.hasError('required')">
                Please input your email!
              </ng-container>
              <ng-container *ngIf="validateForm.get('login')?.hasError('email')">
                请输入正确的邮箱地址
              </ng-container>
            </nz-form-explain> -->
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="password" class="login-input" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

