<div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <div style="background: #ffffff;border-radius: 4px;padding: 3px;">
        <p style="font-size: 20px">Dsshboard</p>
        <p style="font-size: 14px">welecome to angular application</p>
      </div>
      <nz-steps>
        <nz-step nzTitle="Login" nzStatus="finish" nzIcon="user"></nz-step>
        <nz-step nzTitle="Verification" nzStatus="finish" nzIcon="solution"></nz-step>
        <nz-step nzTitle="Pay" nzStatus="process" nzIcon="loading"></nz-step>
        <nz-step nzTitle="Done" nzStatus="wait" [nzIcon]="iconTemplate"></nz-step>
        <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
      </nz-steps>
      <p></p>
      <div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-timeline>
            <nz-timeline-item nzColor="green">Create a services site 2015-09-01</nz-timeline-item>
            <nz-timeline-item nzColor="green">Solve initial network problems 2015-09-01</nz-timeline-item>
            <nz-timeline-item nzColor="red">
              <p>Solve initial network problems 1</p>
              <p>Solve initial network problems 2</p>
              <p>Solve initial network problems 3 2015-09-01</p>
            </nz-timeline-item>
            <nz-timeline-item>
              <p>Technical testing 1</p>
              <p>Technical testing 2</p>
              <p>Technical testing 3 2015-09-01</p>
            </nz-timeline-item>
          </nz-timeline>
        </div>
        <div nz-col [nzSpan]="16">
          <nz-card style="width:300px;float: left" nzTitle="Card title" [nzExtra]="extraTemplate">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
          <ng-template #extraTemplate>
            <a>More</a>
          </ng-template>
          <nz-card style="width:300px;float: left" nzTitle="Card title" [nzExtra]="extraTemplate">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
          <ng-template #extraTemplate>
            <a>More</a>
          </ng-template>

        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-switch [(ngModel)]="loading"></nz-switch>
      <span style="font-size: 18px;font-weight:700;margin-left:3px;font-family: Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif"> new users list</span>
      <nz-card style="width: 240px;margin-top: 14px" [nzLoading]="loading">
        <nz-card-meta
          [nzAvatar]="avatarTemplate"
          nzTitle="Card title"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <nz-card style="width: 240px;margin-top: 14px" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
          <nz-card-meta
            [nzAvatar]="avatarTemplate"
            nzTitle="Card title"
            nzDescription="This is the description"
          ></nz-card-meta>
        </nz-skeleton>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #actionSetting>
        <i nz-icon nzType="setting"></i>
      </ng-template>
      <ng-template #actionEdit>
        <i nz-icon nzType="edit"></i>
      </ng-template>
      <ng-template #actionEllipsis>
        <i nz-icon nzType="ellipsis"></i>
      </ng-template>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div class="demo-chart">
      <div echarts [options]="options"  class="demo-chart1"></div>
      <div id="chart1" echarts [options]="barOptions" theme="macarons"  class="demo-chart1"></div>
      <div echarts [options]="chartOption" class="demo-chart1"></div>
    </div>
  </div>
</div>
