<div class="df-table">
  <nz-table
    #basicTable
    [nzShowPagination] = "false"
    [nzData] = "tableInfo.dataSource"
    [nzBordered] = "tableInfo.bordered"
    [nzSize] = "tableInfo.size"
    [nzLoading] = "tableInfo.loading"
    [nzTitle] = "tableInfo.title"
    [nzFooter] = "tableInfo.footer"
  >
    <thead>
    <tr>
      <th *ngIf="tableInfo.checked" nzShowCheckbox [(nzChecked)]="isAllDataChecked" (nzCheckedChange)="checkAll()"></th>
      <th *ngFor="let col of tableInfo.column; let i = index">{{col.title}}</th>
      <th *ngIf="tableInfo?.operation"> 操作 </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basicTable.data; let i = index">
      <td *ngIf="tableInfo?.checked" nzShowCheckbox [(nzChecked)]="dataChecked[i].checked" (nzCheckedChange)="refreshStatus(i)"></td>
      <td *ngIf="tableInfo?.checkedSingle" nzShowCheckbox [(nzChecked)]="dataChecked[i].checked" (nzCheckedChange)="refreSingle(i)"></td>
      <ng-container *ngFor="let col of tableInfo.column">
        <td>{{item[col?.key]}}</td>
      </ng-container>
      <td *ngIf="tableInfo?.operation">
        <button nz-button nzType="primary" nzGhost (click)="edit(item)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost nz-popconfirm nzTitle="确认删除吗?" (nzOnConfirm)="confirm(item)"
                (nzOnCancel)="cancel()">删除</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <app-df-pagination
    *ngIf="tableInfo.pagination"
    [paginationParams]="tableInfo.pageParams"
  >
  </app-df-pagination>
</div>
